# {{ project.name | regex_replace("-", " ") | title }}

## Status
[![Github release](https://img.shields.io/github/release/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://travis-ci.com/{{ maintainer.organization }}/{{ project.name }}/releases)
[![Travis build](https://img.shields.io/travis/com/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://travis-ci.com/{{ maintainer.organization }}/{{ project.name }})
[![Docker build](https://img.shields.io/docker/cloud/automated/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://hub.docker.com/r/{{ maintainer.organization }}/{{ project.name }})
[![Docker build](https://img.shields.io/docker/cloud/build/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://hub.docker.com/r/{{ maintainer.organization }}/{{ project.name }})

## Documentation
[![Docs](https://img.shields.io/badge/docs-github.io-blue.svg?style=flat-square)](https://{{ maintainer.organization }}.github.io/{{ project.name }}/)

## Contributing
[![SemVer](https://img.shields.io/badge/SemVer-2.0.0-blue.svg?style=flat-square)](http://semver.org/spec/v2.0.0.html)
[![License](https://img.shields.io/github/license/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://github.com/{{ maintainer.organization }}/{{ project.name }}/blob/master/LICENSE)
[![Issues](https://img.shields.io/github/issues/{{ maintainer.organization }}/{{ project.name }}.svg?style=flat-square)](https://github.com/{{ maintainer.organization }}/{{ project.name }}/issues)

## Community
[![Gitter chat](https://img.shields.io/gitter/room/{{ maintainer.organization }}/community.svg?style=flat-square)](https://gitter.im/{{ maintainer.organization }}/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link)
